/* Import fonts from CDN */
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Open+Sans');


$margin: 10px;
$thumbsize: 25%;
$yellow: #ffffe6;
$darkeryellow: #ffffcc;
$selectionbg: #ffe6e6;
$green: #00802b;
$red: #cc0000;
$handwritten: Nanum Pen Script, Pacifico, Arial, serif;


%fontheadings {
  font-family: $handwritten;
  color: $green;
}

%fontgeneral {
  font-family: Open Sans, Georgia, sans-serif;
  font-size: 12px;
  color: #404040;
}

%selected {
  background-color: $selectionbg;
  color: $red;
}


#wrapper {
  background-image: url("C:/Users/Andrei/project0/images/bgs/bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  padding: 150px 0px 30px 0px;
  @media only screen and (max-width: 574px) {
    padding: 0px;
  }
}

header nav {
  background-color: $yellow;
  .navbar-brand {
    @extend %fontheadings;
    font-size: 3rem;
    @media only screen and (max-width: 350px) {
      font-size: 2rem;
    }
    @media only screen and (max-width: 270px) {
      font-size: 1.15rem;
    }
  }
}

.dropdown-menu {
  background-color: $darkeryellow;
}
.nav-link, .dropdown-item {
  @extend %fontgeneral;
  font-size: 14px;
}
.nav-link:hover, .dropdown-item:hover {
  background-color: $yellow;
  font-family: $handwritten;
  font-size: 1.2em;
}

.container.main {
  background-color: #fff;
  opacity: 0.95;
  padding: 15px;
  @media only screen and (max-width: 574px) {
    margin-top: 100px;
  }
  @media only screen and (max-width: 350px) {
    margin-top: 60px;
  }
  @media only screen and (max-width: 270px) {
    margin-top: 40px;
  }
}

.container-fluid {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

h2, h3, h5 {
  @extend %fontheadings;
  text-shadow: 1px 1px 1px black;
}

h2 {
  font-size: 72px;
  @media only screen and (max-width: 564px) {
    font-size: 3rem;
  }
  @media only screen and (max-width: 350px) {
    font-size: 2rem;
  }
  @media only screen and (max-width: 270px) {
    font-size: 1.15rem;
  }
}

.card-title {
  font-size: 3rem;
}

.card-text p, .card-text footer {
  font-size: 1.2rem;
}

h2::selection, h3::selection, h5::selection, a::selection, p::selection, span::selection, small::selection, th::selection, td::selection, li::selection, .blockquote-footer::selection, img::selection {
  @extend %selected;
}

a, p, span, small, th, td, li .blockquote-footer {
  @extend %fontgeneral;
}

footer {
  background-color: #fff;
}

/* index.html */
.slide-title {
  @extend %fontheadings;
  color: #fff;
  font-size: 36px;
}

.slide-text {
  @extend %fontgeneral;
  color: #fff;
  font-size: 0.8em;
}

/* animators.html */
table {
  width: 100%;

  th .img-thumbnail {
    width: 200px;
  }

  .list-group-item {
    margin-top: 0px;
  }

  th, td, li {
    @media only screen and (max-width: 574px) {
      font-size: 0.5rem;
    }
    @media only screen and (max-width: 350px) {
      margin-top: 0.25rem;
    }
  }

  .table-title {
    @media only screen and (max-width: 768px) {
      font-size: 3rem;
    }
    @media only screen and (max-width: 390px) {
      font-size: 2rem;
    }
    @media only screen and (max-width: 270px) {
      font-size: 1.15rem;
    }
  }
}

/* principles.html */
.principle {
  margin-bottom: $margin;
  .description-title {
    @extend %fontheadings;
    font-size: 48px;
  }
  .description-text {
    @extend %fontgeneral;
  }
}
