/* Import fonts from CDN */
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Open+Sans');

%fontheadings {
  font-family: Nanum Pen Script, Pacifico, Arial, serif;
  color: #00802b;
}

%fontgeneral {
  font-family: Open Sans, Georgia, sans-serif;
  font-size: 12px;
  color: #404040;
}

$margin: 10px;
$thumbsize: 25%;

#wrapper {
  background-image: url("C:/Users/Andrei/project0/images/bgs/bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  padding: 0px;
}

.container {
  background-color: #fff;
  opacity: 0.95;
}

.main {
  padding-top: 150px;
}

h2, h3, h5 {
  @extend %fontheadings;
}

h2 {
  font-size: 72px;
}

/* index.html */
.slide-title {
  @extend %fontheadings;
  color: #fff;
  font-size: 36px;
  text-shadow: 1px 1px 1px black;
}

/* principles.html */
.principle {
  margin-bottom: $margin;
  .description-title {
    @extend %fontheadings;
    font-size: 48px;
  }
  .description-text {
    @extend %fontgeneral;
  }
}
